<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spawpaw.ben.provider.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.spawpaw.ben.api.entity.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="nick_name" jdbcType="TIMESTAMP" property="nickName"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, username, password, create_time
    </sql>

    <select id="selectUserByUsername" resultType="com.spawpaw.ben.api.entity.User">
        SELECT *
        FROM user
        WHERE username = #{username}
    </select>

    <insert id="insertUser">
        select *
        from user;
    </insert>

    <update id="updatePassword">
        UPDATE user
        SET
            password = #{password}
        WHERE id = #{id}
    </update>
    <select id="selectUserByUserId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        WHERE id = #{id,jdbcType=INTEGER}
    </select>
    <select id="findAllUsers" resultType="com.spawpaw.ben.api.entity.User">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user LIMIT #{offset,jdbcType=INTEGER} , #{limit,jdbcType=INTEGER}
    </select>
</mapper>